@{
    ViewData["Title"] = "About My Øredev 2019";
}
<div class="row">

<div class="col-md-6">
    <p>
        First off, this is not a real community. Or... is it? Øredev most certainly is!
    </p>

    <p>
        But this site, it's not a real community. Not really. The purpose of the site is to serve 
        as a demo for my Øredev 2019 presentation: "<a href="https://oredev.org/sessions/doing-net-in-that-other-cloud">Doing .NET in that other cloud</a>".
    </p>

    <p>
        So, in order to have an actual, working site to demo and also in honour of Øredev turning 15, I figured
        I'd invite the community to share their Øredev 2019 experience.
    </p>

    <p>So please, go ahead and set up an account and share photos of <em>your</em> Øredev experience.</p>

    <p>I'll probably leave the site running for a little while after the conference, even though the plan
        is for it to be temporary.
    </p>
</div>
<div class="col-md-6">
    <img class="img-fluid" src="https://www.fmork.net/fmork-at-beauty-in-code-2.800.jpg" />
</div>
<div class="col-md">
<p><strong>And who am I?</strong> My name is Fredrik Mörk, developer, software architect, photographer. You can get a bit more info here:
<ul>
    <li><a href="https://www.fmork.net">www.fmork.net</a> - my personal web site</li>
    <li><a href="https://www.photosbyfmork.com">www.photosbyfmork.com</a> - my photography web site (which, by the way, is built in similar ways as this site)</li>
</ul>
</p>

<p><strong>On a technical note</strong>, this site was build using:
<ul>
    <li><a href="https://github.com/aspnet/AspNetCore">ASP.NET Core</a></li>
    <li>The following AWS services:</li>
    <ul>
        <li><a href="https://aws.amazon.com/lambda/">Lambda</a> - for hosting and running the site.</li>
        <li><a href="https://aws.amazon.com/api-gateway/">API Gateway</a> - for exposing the site to the internet.</li>
        <li><a href="https://aws.amazon.com/dynamodb/">DynamoDB</a> - for data storage</li>
        <li><a href="https://aws.amazon.com/cognito/">Cognito</a> - for user authentication</li>
        <li><a href="https://aws.amazon.com/s3/">S3</a> - for hosting photos</li>
        <li><a href="https://aws.amazon.com/cloudfront/">CloudFront</a> - for distributing static content (mainly the photos) to the internet</li>
    </ul>
    <li><a href="https://fontawesome.com/">Font Awesome</a> - for icons</li>
</ul>
</p>
</div>
</div>
