@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>Your data</h3>
<p>
    When you create an account on this site, you will use your email address as user name. The address will 
    be validated. Yor email address will not be disclosed to other users of the site or any external parties. 
    It may only be used for us to get in touch with you, in the unlikely case that should be needed.
</p>

<h3>Cookies</h3>
<p>Cookies are used on this site for:</p>
<ul>
    <li>Enabling you to log in with your account.</li>
    <li>Keep track of whether you have accepted this cookie notice or not.</li>
</ul>
