:root {
    --main-accent: #117a8b;
    --main-accent-brighter: #3098a8;
    --main-accent-transparent: #117a8bbb;
    --white-transparent: #ffffff99;
    --almost-black: #333;
    --mid-gray: #cccccc;
}